.root {
  background-color: rgb(255, 255, 255);
  color: #b822a9;
  padding: 10px 10px;
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.footer-container {
  max-width: 100%; /* Cambiado de 1200px a 100% para que sea más ancho */
  margin: 0 50px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando el ancho es insuficiente */
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
  border: 2px solid;
  color: pink;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 1px;
}

.footer ul li a {
  color: #0e0e76;
  text-decoration: none;
  transition: color 0.2s;
}

.footer ul li a:hover {
  color: #37ebf8;
}

.footer img {
  width: 300px; /* Cambiado de 120px a 100% para que se ajuste al ancho del contenedor */
  transition: transform 0.5s;
  margin-bottom: 19px;
  border-radius: 50px;
}

.footer img:hover {
  transform: scale(1.1); /* Escalado ligeramente en el hover */
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid #555;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-bottom a {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-bottom a:hover {
  color: #000000;
}

.large-letter {
  font-size: 24px;
}

.orange-text {
  color: rgb(255, 0, 0);
  font-size: 24px;
}

h3 {
  background-color: #000000;
  border-radius: 10px;
}
